---
import Favicon from "../components/Favicon.astro";
import Preloader from "../components/Preloader.astro";
import CSSbase from "../components/CSSbase.astro";
import Navbar from "../components/Navbar.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import TestimonialsSlider from "../components/TestimonialsSlider.astro";
import Footer from "../components/Footer.astro";
import Scripts from "../components/Scripts.astro";
import Largeform from "../components/LargeForm.astro";
import SocialMeta from "../components/SocialMeta.astro";
import MapSection from "../components/MapSection.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <title>MAC Paving | Contact Us | Asphalt Paving Services</title>
    <meta
      name="description"
      content="MAC Paving and Sealcoating provides expert asphalt paving, sealcoating, concrete, and paver services across New Jersey. Residential and commercial solutions with guaranteed quality."
    />
    <link rel="canonical" href="https://macpavingandsealcoating.com/contact" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="asphalt paving NJ, paving contractors NJ, driveway paving NJ, asphalt companies NJ, commercial paving NJ, residential paving NJ, blacktop paving NJ, asphalt resurfacing NJ, asphalt repair NJ, sealcoating NJ, pothole repair NJ, driveway resurfacing NJ, pavement maintenance NJ, asphalt paving near me NJ, asphalt paving Paterson NJ, asphalt paving Clifton NJ, asphalt paving Bergen County NJ, driveway paving Essex County NJ, custom driveway paving NJ, decorative driveways NJ, MAC Paving and Sealcoating, professional asphalt services NJ, NJ blacktop company, local asphalt contractor NJ, asphalt, contractor, NJ, driveway extension, asphalt paving, NJ"
    />

    <Favicon />
    <SocialMeta />
    <CSSbase />
  </head>
    <body>
      <Preloader />
      <Navbar />
      <!-- Header area end -->
  

    <main>
      <!-- Breadcrumb area start -->
      <div class="breadcrumb__area theme-bg-1 p-relative pt-160 pb-160">
        <div
          class="breadcrumb__thumb"
          data-background="/assets/imgs/service/cover-page.webp"
        >
        </div>
        <div class="small-container">
          <div class="row justify-content-center">
            <div class="col-xxl-12">
              <div class="breadcrumb__wrapper p-relative">
                <h1 class="breadcrumb__title">Contact Us | Free Estimates</h1>
                <div class="breadcrumb__menu fs-2">
                  <nav>
                    <ul>
                      <li>
                        <span><a href="/">Home</a></span>
                      </li>
                      <li><span>Contact</span></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb area end -->

      <section class="contact-page-section section-space">
        <div class="small-container">
          <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4">
              <div class="contact-p-info-area">
                <div class="contact-box mb-50">
                  <div class="icon-1">
                    <i class="fas fa-location-dot"></i>
                  </div>
                  <div class="info">
                    <strong><span>Send Us an Email</span></strong>
                    <h4>
                      <a
                        href="mailto:mg@macpavingandsealcoating.com"
                        style="color:#1f4e8c; font-weight:bold;"
                      >
                        Click Here</a
                      >
                    </h4>
                  </div>
                </div>
                <div class="contact-box mb-30">
                  <div class="icon-1">
                    <i class="fas fa-phone-volume"></i>
                  </div>
                  <div class="info">
                    <strong><span>Call Us 7/24</span></strong>
                    <h4><a href="tel:+12017557836">(201) 755-7836</a></h4>
                  </div>
                </div>
                <div class="contact-box">
                  <div class="icon-1">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="info">
                    <span>Chat with us</span>
                    <h4>
                      <a
                        href="https://wa.me/12017557836"
                        target="_blank"
                        style="color: #1c5ea0; font-weight: bold"
                      >
                        <i
                          class="fa-brands fa-whatsapp"
                          style="margin-right: 8px"></i>WhatsApp
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8">
              <div class="contact-page-form-area">
                <div
                  class="title-box mb-40 wow fadeInLeft"
                  data-wow-delay=".5s"
                >
                  <span class="section-sub-title">GET YOUR FREE QUOTE NOW</span>
                  <h3 class="section-title mt-10">Booking Schedule</h3>
                </div>
                <!-- Calendly inline widget begin -->
                <div
                  class="calendly-inline-widget"
                  data-url="https://calendly.com/macpavingandsealcoating/30min?hide_event_type_details=1"
                  style="min-width:320px;height:700px;"
                >
                </div>
                <script
                  type="text/javascript"
                  src="https://assets.calendly.com/assets/external/widget.js"
                  async></script>
                <!-- Calendly inline widget end -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <WhyChooseUs />
      <MapSection />

      <TestimonialsSlider />
      <Largeform
        title="Get Your Free Estimate"
        description="Contact us today for a free estimate on your asphalt paving project. Our team is ready to assist you with all your paving needs."
        buttonText="Request a Quote"
        formAction="/submit-form"
      />
    </main>

    <Footer />
    <Scripts />
  </body>
</html>
