---

---
<!-- Brand area start -->
      <div class="brand-section section-space-top section-space-bottom">
        <div class="small-brand">
          <div class="swiper brand-active">
            <div class="swiper-wrapper">
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-5.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-4.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-3.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-2.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-1.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-5.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-4.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-3.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-2.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
              <div class="swiper-slide">
                <span>
                  <img
                    src="/assets/imgs/resources/brand-1.webp"
                    alt="Asphalt Paving by MAC Paving and Sealcoating"
                    loading="lazy"
                    width="360"
                    height="187" />
                </span>
              </div>
              <!-- block -->
            </div>
          </div>
        </div>
      </div>
      <!-- Brand area end -->