<section
  class="choose-section bg-color-1 section-space-top section-space-bottom p-relative"
>
  <div class="shape-image" data-background="/assets/imgs/shapes/shape-15.webp">
  </div>
  <div class="small-container">
    <div class="row g-4 justify-content-center text-center">
      <div class="col-12">
        <div class="title-box mb-50 wow fadeInLeft" data-wow-delay=".5s">
          <span class="section-sub-titledos">What Makes Us Different</span>
          <h3 class="section-title mt-50 mb-50">QUALITY IS OUR PRIORITY</h3>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay=".5s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-road"></i>
          </div>
          <div class="content">
            <h5>Premium Asphalt Sealcoating</h5>
            <p>
              We deliver the best asphalt sealcoating services to protect and
              enhance the longevity of your pavement.
            </p>
          </div>
        </div>
        <hr />
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay=".7s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="content">
            <h5><a href="#">Custom Driveway Solutions</a></h5>
            <p>
              We specialize in designing and installing custom driveways
              tailored to your specific needs and preferences.
            </p>
          </div>
        </div>
        <hr />
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay=".9s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-wrench"></i>
          </div>
          <div class="content">
            <h5><a href="#">Comprehensive Paving Solutions</a></h5>
            <p>
              We offer a full range of paving services for commercial and
              residential clients, from concrete work to asphalt paving.
            </p>
          </div>
        </div>
        <hr />
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay="1.1s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-tools"></i>
          </div>
          <div class="content">
            <h5><a href="#">Maintenance Services</a></h5>
            <p>
              Keep your property in top shape with our maintenance services,
              including sealcoating, crack filling, and more.
            </p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
<!-- Choose area end -->
